apiVersion: apps/v1
kind: Deployment
metadata:
  name: matchmaker-mysql
spec:
  selector:
    matchLabels:
      app: matchmaker-mysql
  replicas: 1
  template:
    metadata:
      labels:
        app: matchmaker-mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "!Gaptunklas7"
            - name: MYSQL_DATABASE
              value: "dinetime_matchmaker_db"
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: mysql-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-storage
          emptyDir: {}
