spring:
  datasource:
    url: jdbc:mysql://localhost:3306/dinetime_ranking_db
    username: root
    password: '!Gaptunklas7'
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: localhost
    port: 6379
    timeout: 60000ms
    lettuce:
      pool:
        max-active: 10
        max-idle: 5
        min-idle: 1
    notify-keyspace-events: Ex

jwt:
  secret: ADQdZcCYhcmB7jDoE1C/t3f0rbN4BTH/iAk6hTE5FyqqzObXHdN2H9vVCs0JJZTOXkP64ZyjWcvitfku9/YOnA==