apiVersion: apps/v1
kind: Deployment
metadata:
  name: identity-service
  labels:
    app: identity-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: identity-service
  template:
    metadata:
      labels:
        app: identity-service
    spec:
      containers:
      - name: identity-service
        image: dinetimeacr.azurecr.io/identity-service:latest
        imagePullPolicy: Always
        ports:
          - containerPort: 8080
        env:
          - name: JWT_SECRET
            valueFrom:
              secretKeyRef:
                name: identity-env
                key: JWT_SECRET
          - name: LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY
            value: DEBUG
