apiVersion: apps/v1
kind: Deployment
metadata:
  name: realtime-service
  labels:
    app: realtime-service
spec:
  replicas: 4
  selector:
    matchLabels:
      app: realtime-service
  template:
    metadata:
      labels:
        app: realtime-service
    spec:
      containers:
        - name: realtime-service
          image: docker.io/dockerjarnodijkmans/realtime-service:latest
          ports:
            - containerPort: 5000
          env:
            - name: REDIS_HOST
              value: redis
            - name: REDIS_PORT
              value: "6379"
            - name: NODE_ENV
              value: "production"
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "2000m"
              memory: "2Gi"

